<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Nodarium</h1>
        <p class="lead">Temperature Sensing Demo</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Temperature Sensors:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
                <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-danger" role="alert" ng-show="sensors.length < 1">
            <strong>Oh no!</strong> No Sensors Found
        </div>
        <div data-ng-repeat="sensor in sensors" temperature-badge="sensor"></div>
    </div>
</div>



<footer class="footer">
    <div class="container">
        <p>Nodarium Temperature Sensor Demo |
            <a href="https://twitter.com/mottihoresh">@mottihoresh</a> |
            <a href="https://github.com/mottihoresh/pi-temp">GitHub</a></p>
    </div>
</footer>
